@{
    ViewBag.Title = "Poll Home";
    ViewBag.ActivePage = "Index";
}

<h1 class="text-center text-uppercase">Poll Maker</h1>
<hr />

<p class="">Welcome to the Poll Maker!  Here, you can create polls, vote, and view results.</p>
<br>
<br>

<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <h3>Most Recent Poll</h3>
        <!--Recent Poll-->
    </div>

    <div class="col-lg-2"></div>
</div>