@{
    ViewBag.Title = "Poll Home";
    ViewBag.ActivePage = "Index";
    ViewBag.Header = "Poll Maker";
}

<div class="row jumbotron">
    <div class="col-lg-2">
        <p class="text-danger">Welcome to the Poll Maker!  Here, you can create polls, vote, and view results.</p>
    </div>

    <div class="col-lg-8">
        <h3>Most Recent Poll</h3>
        <div>
            <a class = "poll" href="/home/vote?poll=@ViewBag.RecentPoll.PollID">
                @Html.Raw(ViewBag.RecentPoll.PollToHtml())
            </a>
        </div>
    </div>

    <div class="col-lg-2"></div>
</div>