@{
    ViewBag.Title = "Polls";
    ViewBag.ActivePage = "List";
    ViewBag.Header = "Polls";
}



<div>

    <form class="p-a-1" asp-controller="Home" asp-action="List" method="post">

        <div class="form-group">

            <label for="name">Poll Name Starts With (case sensitive):</label>
            <input for="name" class="form-control" asp-route-name name="name" />

        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Search Polls</button>
        </div>

    </form>


    @{
        // arrange polls newest to oldest
        List<Poll> orderedPoll = ViewBag.Polls;
        orderedPoll.Reverse();

        foreach (Poll p in orderedPoll)
        {
            <br>
            // put poll on page
            <div>

                <a class = "poll" href="/home/vote?poll=@p.PollID">
                    @Html.Raw(p.PollToHtml())
                </a>

            </div>
        }
    }

</div>