@{
    ViewBag.Title = "Polls";
    ViewBag.ActivePage = "List";
    ViewBag.Header = "Polls";
}



<div>


    @{
        // arrange polls newest to oldest
        List<Poll> orderedPoll = ViewBag.Polls;
        orderedPoll = orderedPoll.OrderByDescending(p => p.PollID).ToList();

        foreach (Poll p in orderedPoll)
        {
            <br>
            // put poll on page
            <div>

                <a class = "poll" href="/home/vote?poll=@p.PollID">
                    @Html.Raw(p.PollToHtml())
                </a>

            </div>
        }
    }

</div>